.body {
     background: #FFF;
     color: #e75959;
     font-family: Arial, sans-serif;
     font-size: 14px;
}

.header {
     background: #f8cb79;
     width: 100%;
     height: 55px;
}
 
.container {
     background: #ffd900e9;
     margin: auto auto;
     text-align: center;
     width: 80%;
     height: 300px;
}
 
.navigation {
     background: #e69a9b;
     width: 100%;
     height: 25px;
}
 
.sidebar {
     background: #48a89e;
     float: left;
     width: 20%;
     height: 280px;
}

.content {
     background: #ada5a5;
     float: right;
     width: 80%;
     height: 280px;
}
 
.clear {
     clear: both;
}
 
.footer {
    background: #00bfffd4;
	width: 100%;
	height: 40px;
}